body {
    padding: 0px;
    margin: 0px;
    box-sizing:  border-box;
    background: linear-gradient(to bottom, white, #f8f9fa);
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 100vh;
    font-family:  -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";

}
.router-link-active, router-link-exact-active {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}